<h3>Welcome <strong><%= current_user.email %></strong></h3>
<p>Anything you have not done within 7 days will be deemed not important enough to keep and will be deleted automatically.</p>

<p>Your list of items to complete within 7 days...or else.....</p>
<div>
  <%= render 'items/form', item: Item.new, user: @user %>
</div>
<hr>
<div class="container-fluid">
  <%= render @user.items %>
</div>
