<div class="text-center">
  <div class="row text-center">
    <h2>Stay Focused</h2>
    <h3>A self-destructing to-do list to keep you focused on the things that really matter.</h3>
  </div>
  <div class="row sub-text">
    <div class="col-md-6">
      <p class="seven-days">7 days...thats all you get.</p>
    </div>
    <div class="col-md-6">
      <span class="glyphicon glyphicon-calendar gi-large"></span>
    </div>
  </div>
  <div class="row sub-text">
    <div class="col-md-6">
      <span class="glyphicon glyphicon-remove gi-large"></span>
    </div>
    <div class="col-md-6">
      <p class="seven-days">After 7 days it will automatically be deleted...forever.</p>
    </div>
  </div>
</div>