
<div class="row">
  <div class="col-md-6">
    <h4><strong><%= item.name %></strong></h4>
  </div>
  <div class="col-md-6">
    <small>Created on: <%= item.created_at.strftime("%A, %B %d") %></small>
  </div>
</div>
