// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sub-text {
  margin-top: 50px;
}

.seven-days {
  font-size: 24px;
}

.gi-large {
 font-size: 75px;
}

.glyphicon-remove {
  color: red
}